.message {
  display: inline-block;
  border-radius: 24px;
  background-color: #424242;
  padding: 10px 20px;
  max-width: 70%;
  grid-column-start: 2;
  height: min-content;
}

.message_ai {
  justify-self: start;
  background-color: inherit;
  max-width: 100%;
}

.message_ai::before {
  content: url('../../../images/chatLogo.svg');
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  fill: #ececec;
  box-shadow: 0 0 0 0.3px #ececec;
  border-radius: 50%;
  background-color: #212121;
  background-size: cover;
  vertical-align: middle;
  margin-right: 20px;
}

.message_user {
  justify-self: end;
}

.message_text {
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  color: #ececec;
  line-height: 28px;
  display: inline-block;
}