.chat_list_item {
  height: 20px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat_list_item__title {
  color: #ececee;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-family: sans-serif;
}

.chat_list_item_active {
  background-color: #212121;
}

.delete_button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
  border-radius: 25%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 24px;
  width: 24px;
}

.chat_type_image {
  height: 24px;
  width: 24px;
}
