.chat_list_item {
  height: 20px;
  padding: 8px;
  display: flex;
  align-items: center;
}

.chat_list_item__title {
  color: #ececee;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-family: sans-serif;
}

.chat_list_item_active {
  background-color: #212121;
}