.main {
  overflow: visible;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  transform: translateX(0);
	transition: width 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.main__open {
  width: calc(100% - 125px * 2);
  transform: translateX(125px);
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  justify-self: end;
  align-self: center;
  column-gap: .5rem;
  padding: 12px;
  box-sizing: border-box;
}

.tooltip_container {
	position: relative;
	display: inline-block;
	border-radius: 8px;
}

.tooltip_container:hover {
	background-color: #212121;
}

.tooltip_open_text {
	display: inline-block;
  visibility: hidden;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
	font-size: 16px;
	line-height: 24px;
  position: absolute;
  top: 120%; /* Расположение над кнопкой */
  left: 250%;
  transform: translateX(-50%);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s ease 1s;
	white-space: nowrap;
	box-shadow: 0 0 0 0.3px #fff;
	border: 2px solid #000;
  border-radius: 10px;
}

.tooltip_open_text::after {
  content: '';
  position: absolute;
  left: 10%;
  width: 0;
  height: 0;
	top: -10px;
  bottom: auto;
  transform: translateX(-50%) rotate(180deg); /* Треугольник вверх */
  border-style: solid;
  border-width: 10px 10px 0 10px; /* Треугольник, направленный вниз */
  border-color: #000 transparent transparent transparent; /* Треугольник белого цвета */
  z-index: 10;
}

.tooltip_open_text::before {
  content: '';
  position: absolute;
  bottom: -12px; /* Добавляем границу для треугольника */
  left: 10%;
	top: -10px;
  transform: translateX(-50%) rotate(180deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px; /* Треугольник, чуть больше основного */
  border-color: #fff transparent transparent transparent; /* Черная рамка */
  z-index: 9;
}

.tooltip_container:hover .tooltip_open_text {
  visibility: visible;
  opacity: 1;
}

.nav_button {
  padding: 8;
	display: block; 
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 25%; 
}

.nav_button:hover {
	background-color: #2f2f22;
}

.nav_user_logo {
  display: flex;
  background-color: green;
  border-radius: 50%;
  width: 32px;
	height: 32px;
  justify-content: center;
  align-items: center;
}

.nav_user_name {
  color: #fff;
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.logo {
  width: 75px;
  height: 75px;
  fill: #fff;
  color: #FFF;
}

.start_text {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: rgb(236, 236,236);
}