.message_input {
  width: 60%;
  background-color: rgb(66,66,66);
  padding: 12px;
  border-radius: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
}

.message_input__text {
  padding: 0;
  width: 100%;
  min-height: 16px;
  max-height: 150px;
  scrollbar-color: #646464 #424242;
  outline: none;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 24px;
  color: rgb(236, 236,236);
  resize: none;
  background-color: inherit;
  height: auto;
  border: none;
  letter-spacing: 1px;
}

.message_input__text::placeholder {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 24px;
  color: rgb(236, 236,236);
}

.message_input__button {
  padding: 0;
  height: 32px;
  width: 32px;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  fill: #fff;
  font-size: 14px;
}

.message_input__button:disabled {
  background-color: rgb(103, 103,103);
}

.message_input__button:hover {
  opacity: 0.7;
}

.message_input__button_icon {
  fill: #fff;
  color: rgb(66, 66, 66);
}

.file_input {
  display: none;
}

.file_input__button {
  display: block;
  margin: 0;
  padding: 8px;
  height: 32px;
  width: 32px;
  background-image: url('../../../images/uploadFilesLogo.svg');
  background-position: center;
  background-size: contain;
  background-color: inherit;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.file_input__button:hover {
  background-color: #0000001a;
}

.file_input__button:disabled:hover {
  background-color: inherit;
  cursor: unset;
}

.progress {
  display: inline-flex;
  flex-wrap: nowrap;
  column-gap: 20px;
  align-items: center;
}

.progress_message {
  font-family: sans-serif;
  line-height: 24px;
  color: rgb(236, 236,236);
  resize: none;
}