.container {
	position: fixed;
	left: 0;
	width: 260px;
	height: 100%;
	overflow: scroll;
	transform: translate(-260px);
	transition: transform 0.8s ease-in-out;
	background-color: #171711;
	scrollbar-color: #424242 transparent;
	overflow: visible;
}

.container_open {
	transform: translate(0);
}

.content { 
	padding-left: 12px;
	padding-right: 12px;
}

.tooltip_container {
	position: relative;
	display: inline-block;
	border-radius: 8px;
}

.tooltip_container:hover {
	background-color: #212121;
}

.tooltip_create_text {
	display: inline-block;
  visibility: hidden;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
	font-size: 16px;
	line-height: 24px;
  position: absolute;
  top: 120%; /* Расположение над кнопкой */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s ease 1s;
	white-space: nowrap;
	box-shadow: 0 0 0 0.3px #fff;
	border: 2px solid #000;
  border-radius: 10px;
}

.tooltip_create_text::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
	top: -10px;
  bottom: auto;
  transform: translateX(-50%) rotate(180deg); /* Треугольник вверх */
  border-style: solid;
  border-width: 10px 10px 0 10px; /* Треугольник, направленный вниз */
  border-color: #000 transparent transparent transparent; /* Треугольник белого цвета */
  z-index: 10;
}

.tooltip_create_text::before {
  content: '';
  position: absolute;
  bottom: -12px; /* Добавляем границу для треугольника */
  left: 50%;
	top: -10px;
  transform: translateX(-50%) rotate(180deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px; /* Треугольник, чуть больше основного */
  border-color: #fff transparent transparent transparent; /* Черная рамка */
  z-index: 9;
}

.tooltip_close_text {
	display: inline-block;
  visibility: hidden;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
	font-size: 16px;
	line-height: 24px;
  position: absolute;
  left: 370%; /* Расположить тултип справа от кнопки */
  top: 15%;
  transform: translateX(-50%);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s ease 1s;
	white-space: nowrap;
	box-shadow: 0 0 0 0.3px #fff;
	border: 2px solid #000;
  border-radius: 10px;
}

.tooltip_close_text::after {
  content: '';
  position: absolute;
  top: 35%;
	left: 0;
  width: 0;
  height: 0;
  bottom: auto;
  transform: translateX(-82%) rotate(90deg); 
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #000 transparent transparent transparent; 
  z-index: 10;
}

.tooltip_close_text::before {
  content: '';
  position: absolute;
  bottom: -12px; 
  top: 35%;
  transform: translateX(-110%) rotate(90deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px; 
  border-color: #fff transparent transparent transparent;
  z-index: 9;
}

.tooltip_container:hover .tooltip_create_text {
  visibility: visible;
  opacity: 1;
}

.tooltip_container:hover .tooltip_close_text {
  visibility: visible;
  opacity: 1;
}

.nav_buttons {
	display: flex;
	justify-content: space-between;
	height: 32px;
	padding: 10px 0;
	align-items: center;
}

.nav_button {
	padding: 8px;
	display: block;
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 8pxs;
}

.chat_list {
	display: flex;
	flex-direction: column;
}

.chat_list_header {
	margin: 0;
	padding: 8px;
	color: #ececec;
	font-size: 12px;
	font-weight: 600px;
	line-height: 16px;
	font-family: sans-serif;
}

.chat_list_content {
	margin: 0;
	display: flex;
	flex-direction: column;
	height: fit-content;
	padding: 0;
}